## Building a Survival Prediction Model

In this file, we will use the following columns to build a model to predict if a person would survive or not:

- `Pclass`: Passenger class (1, 2, or 3)
- `Sex`: Gender of the passenger (male or female)
- `Age`: Age of the passenger
- `Fare`: Fare paid by the passengermodel

In [45]:
import pandas as pd

In [47]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [86]:
df = df.dropna(subset=['Age'])

In [88]:
inputs = df.drop(['Survived'], axis='columns')
target = df.Survived

In [116]:
# from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['Sex'] = le_sex.fit_transform(inputs['Sex'])
inputs

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
885       3    0  39.0  29.1250
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[714 rows x 4 columns]

In [118]:
from sklearn.model_selection import train_test_split

In [120]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.2)

In [122]:
len(X_train)

571

In [124]:
len(X_test)

143

In [126]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [128]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [130]:
model.score(X_test, y_test)

0.7202797202797203

In [132]:
model.predict([[3,1]])

C:\Users\admiin\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: X has 2 features, but DecisionTreeClassifier is expecting 4 features as input.